<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arduino.bluetooth"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="18" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="com.arduino.bluetooth.permission.MAPS_RECEIVE"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />



    <application
        android:icon="@drawable/cdhat"
        android:label="CD 모자" >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDOjgusL__NYT2gKWz0P8Nq51Ena6K0UUI" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="CD Hat" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SettingActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="연락처 설정"
            android:theme="@android:style/Theme.Dialog" />

        <activity
            android:label="블루투스 검색 "
            android:name=".SearchBluetoothDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>

        <activity
            android:name=".GpsActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            />

        <activity
            android:name=".MainActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            />

    </application>

</manifest>